.main-heading {
    position: relative;

    h2 {
        background-color: #e2494c;
        padding: 10px 30px;
        border-radius: 12px;
        width: 400px;
        margin: 40px auto;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
        background-color: $grayColor;
        z-index: -1;
    }
}